In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('banned_book_data_combined_lists.csv')

df

,publication,author,date,year,month,day,reason,state_arc
0,[ARABIC LANGUAGE CHARACTERS].,NaN,2019-12-18 00:00:00,2019.0,12.0,18.0,NaN,fl
1,[ARABIC LANGUAGE CHARACTERS]. TAJWEED QURAN.,NaN,2021-09-09 00:00:00,2021.0,9.0,9.0,NaN,fl
2,[KOREAN LANGUAGE CHARACTERS] HOLY SPIRIT LOVE.,NaN,2021-02-25 00:00:00,2021.0,2.0,25.0,NaN,fl
3,[KOREAN LANGUAGE CHARACTERS].,NaN,2021-02-25 00:00:00,2021.0,2.0,25.0,NaN,fl
4,[KOREAN LANGUAGE CHARACTERS].,NaN,2021-02-25 00:00:00,2021.0,2.0,25.0,NaN,fl
...,...,...,...,...,...,...,...,...
48371,Mentalism Companion,NaN,2021-08-25 00:00:00,2021.0,8.0,25.0,NaN,ri
48372,"You Can Read Anyone, Rules of the Game",NaN,2021-09-22 00:00:00,2021.0,9.0,22.0,NaN,ri
48373,Sex Slave never judge a Women by her desires,NaN,2021-09-30 00:00:00,2021.0,9.0,30.0,NaN,ri
48374,Moorish American Civics Guide,NaN,2021-09-30 00:00:00,2021.0,9.0,30.0,NaN,ri
48375,Anacarchism and Black Revoultion,NaN,2022-02-04 00:00:00,2022.0,2.0,4.0,NaN,ri

In [3]:
df.describe()

               year         month           day
count  40778.000000  40750.000000  40366.000000
mean    2013.561945      6.397399     15.374548
std        6.689495      3.357321      8.767688
min     1815.000000      1.000000      1.000000
25%     2010.000000      3.000000      8.000000
50%     2015.000000      6.000000     15.000000
75%     2019.000000      9.000000     23.000000
max     2022.000000     12.000000     31.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48376 entries, 0 to 48375
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   publication  48376 non-null  object
 1   author       16639 non-null  object
 2   date         40750 non-null  object
 3   year         40778 non-null  float64
 4   month        40750 non-null  float64
 5   day          40366 non-null  float64
 6   reason       23350 non-null  object
 7   state_arc    48376 non-null  object
dtypes: float64(3), object(5)
memory usage: 3.0+ MB

In [5]:
df.isnull().sum()

publication        0
author         31737
date            7626
year            7598
month           7626
day             8010
reason         25026
state_arc          0
dtype: int64

In [6]:
df['publication'].value_counts().head(20)

PLAYBOY                    155
PENTHOUSE                  131
TATTOO                     109
MAXIM                      108
PENTHOUSE LETTERS          101
HEAVY METAL                101
FOX                         85
HUSTLER                     79
GUIDE, THE                  77
JUXTAPOZ                    73
PLAYERS GIRLS PICTORIAL     70
HIGH SOCIETY                68
BLACK BELT                  65
GALLERY                     62
BIKER                       61
EASYRIDERS                  55
CHERI                       53
THE FINAL CALL              52
SKIN AND INK                51
BLACK TAIL                  51
Name: publication, dtype: int64

In [7]:
df['publication'].value_counts().tail(20)

Gorillaz In The Bay 4, The Conclusion                                           1
GOODNIGNT PUNPUN, VOLUME 7                                                      1
FROM STREET ART TO FINE ART, BLACK & GREY TATTOO 1                              1
GOODNIGHT PUN PUN, VOLUME 5                                                     1
FROM STREET ART TO FINE ART-BLACK & WHITE TATTOO 1-3                            1
GANGS AND THEIR TATTOOS: IDENTIFYING GANGBANGERS ON THE STREET AND IN PRISON    1
Gantz Omnibus 1                                                                 1
GENTLEMAN OF LEISURE                                                            1
Getting Off, A Novel of Sex & Violence                                          1
GIL ELVGREN, ALL HIS GLAMOROUS AMERICAN PIN-UPS                                 1
Girl Friends, The Complete Collection 2                                         1
GIRLS KISSING, VOLUME 1                                                         1
Gleipnir Vol 4                                                                  1
Gleipnir Vol 5                                                                  1
Go Down Together, The True, Untold Story of Bonnie & Clyde Destruction          1
Goblin Slayer, Volume 3                                                         1
GODDESS OF THE GLASS, VOLUME 1                                                  1
GOD'S GIVEN TALENTS, FOR THE PEOPLE, BY THE PEOPLE                              1
Gonzo Gizmos, Projects & Devices to Channel Your Inner Geek                     1
Anacarchism and Black Revoultion                                                1
Name: publication, dtype: int64

In [8]:
df['language']  = df['publication']

# Create a new column called "language" that is "arabic" if the value in "publication" contains the string "arab" (ignoring case)
#df["language"] = df["publication"].apply(lambda val: "arabic" if 'arab' in val.lower() else None)


#df["language"] = df["publication"].apply(lambda val: 
#  "arabic" if 'arab' in val.lower() else
 # "korean" if 'korean' in val.lower() else
 # "chinese" if 'chinese' in val.lower() else
  #None

In [9]:
df['language'] = df['language'].str.lower()

In [10]:

df.language = df.language.apply(lambda x: 'arabic' if 'arab' in x else x)

df.language = df.language.apply(lambda x: 'asian' if ('korean' in x) or ('chinese' in x) else x)

In [11]:
df[df.language.str.contains('black')]

,publication,author,date,year,month,day,reason,state_arc,language
107,48 LAWS OF BLACK EMPOWERMENT.,NaN,2020-11-19 00:00:00,2020.0,11.0,19.0,NaN,fl,48 laws of black empowerment.
118,50 NIGHTS IN GRAY: A SENSUAL JOURNEY IN BLACK ...,NaN,2015-03-25 00:00:00,2015.0,3.0,25.0,NaN,fl,50 nights in gray: a sensual journey in black ...
190,"ADAM BLACK VIDEO ILLUSTRATED. VOL. 07, NO. 11.",NaN,2012-03-01 00:00:00,2012.0,3.0,1.0,NaN,fl,"adam black video illustrated. vol. 07, no. 11."
342,"ALMIGHTY BLACK P STONE NATION,",NaN,2012-10-19 00:00:00,2012.0,10.0,19.0,NaN,fl,"almighty black p stone nation,"
467,ANARCHISM AND THE BLACK REVOLUTION.,NaN,2014-10-08 00:00:00,2014.0,10.0,8.0,NaN,fl,anarchism and the black revolution.
...,...,...,...,...,...,...,...,...,...
48263,Whites & Blacks 100 facts (and one Lie),REV Rudy Stanko,2021-09-24 00:00:00,2021.0,9.0,24.0,Racial Material,mt,whites & blacks 100 facts (and one lie)
48280,Black Scarface: The Wrath of Face,Jimmy Dasaint,NaN,2015.0,NaN,NaN,NaN,ga,black scarface: the wrath of face
48343,Blacked out Through Whitewash Volume 1,NaN,2021-04-20 00:00:00,2021.0,4.0,20.0,NaN,ri,blacked out through whitewash volume 1
48356,The Negro Question Part 3 - The Black Pentecost,NaN,2021-04-29 00:00:00,2021.0,4.0,29.0,NaN,ri,the negro question part 3 - the black pentecost
48375,Anacarchism and Black Revoultion,NaN,2022-02-04 00:00:00,2022.0,2.0,4.0,NaN,ri,anacarchism and black revoultion

In [12]:
df['language'].value_counts().head(20)

playboy                    155
penthouse                  133
tattoo                     124
maxim                      122
penthouse letters          105
heavy metal                101
juxtapoz                    85
fox                         85
hustler                     79
arabic                      78
guide, the                  77
black belt                  76
hip hop weekly              73
players girls pictorial     70
the final call              70
high society                68
gallery                     62
biker                       61
rolling stone               59
easyriders                  59
Name: language, dtype: int64

In [13]:
len(df[df['language']=='asian'])

52

In [14]:
#df['language'].str.contains('sex')

sex_rows = df.loc[df["publication"].str.contains('sex', flags=re.IGNORECASE)].index

len(sex_rows)

992

In [15]:
df['author'].value_counts().head(20)

NONE                       452
ENNIS, GARTH                46
Zane                        29
Penthouse International     27
GAIMAN, NEIL                27
CHIA, MANTAK                26
GHOST                       24
Silk White                  24
OKAYADO                     24
VAUGHAN, BRIAN              24
RAND MCNALLY                23
NATIONAL GEOGRAPHIC         23
ROYO, LUIS                  23
Anonymous                   20
editors of Penthouse        20
KOIKE, KAZUO                20
MOORE, ALAN                 19
ANONYMOUS                   19
TAMAKI, NOZOMU              19
ASHLEY & JAQUAVIS           19
Name: author, dtype: int64

In [16]:
df['state_arc'].value_counts()

fl    20202
tx     9396
az     4632
va     2553
wi     2281
or     1780
ct     1659
sc     1509
ca     1424
mi      974
nc      600
ia      431
mt      374
nj      232
il      134
ks       99
ri       68
ga       28
Name: state_arc, dtype: int64